@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;
}

.pause-on-hover:hover .animate-marquee {
  animation-play-state: paused;
}

/* Optional global style */
body {
  background-color: #FAFAFA;
  color: #111111;
  -webkit-font-smoothing: antialiased;
}